@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.body {
  margin: 0;
}

.flexbox {
  display: flex;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'inter', 'Arial', sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 127vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  margin: auto auto auto 64px;
  z-index: 1;
  text-align: left;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height:25px;
  font-weight: normal;
  font-size: 18px;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
}



.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;
  top: 64px;
}

.header__link {
  text-decoration: none;
  opacity: 1;
}

.header__link:hover {

  opacity: 0.5;
  transition: opacity 0.5s;
}



.motion {
  animation: rotation 5s linear infinite;
}

.description {
  padding-top: 100px;

}

/*Секция description*/
.two-columns {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 80%;
}

.description__two-columns {
  margin: 100px auto;
}

.two-columns__brief {
  line-height: 1.2;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  margin-right: 30px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-flow: column;
  justify-content: space-between
}

.two-columns__span {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.techniques {
  padding-top: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

.techniques__section-title {
  margin: 100px auto 20px;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
}

.section-subtitle__position {
  margin: auto;
}

.cards {
  width: 920px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  }

.techniques__cards {
  margin: auto;
}

.cards__item {
  width: 240px;
  margin-top: 60px;
  margin-right: 100px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;

  }


.cards__title {
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}


.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 40px 40px;
  border-radius: 50%;
}

.cards__description {
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
   padding-top: 100px;
}

.video__iframes {
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1060px;
}



.video__iframe {
  display: inline-block;
  margin-right: 20px;
  border: none;
}


.video__iframe:nth-of-type(2) {
  margin-right: 0;
}

.oakley {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.oakley__two-columns {
  margin: 160px auto 100px auto;
}

.two-columns {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  color: blue;
  line-height: 1.2;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-flow: column;
  justify-content: space-between
}

.two-columns__paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  padding-top: 100px;
  height: 890px;
  background-image: url(./images/feynman.png);
  background-position: left bottom;
  background-size:auto;
  background-repeat: no-repeat;
}

.feynman__title {
margin: 100px auto auto auto;
width: 648px;
line-height: 1.15;
font-size: 120px;
font-weight: 600;
text-align: center;
}

.feynman__subtitle {
  margin: 70px  auto auto auto;
  width: 500px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
position: absolute;
top: 50%;
right: 48px;
line-height: 51px;
font-size: 36px;
font-weight: normal;
}

.khan {
  padding: 100px;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__quote {
  width: 790px;
  margin: 50px auto 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__book-pic {
  width: 608px;
  height: 620px;
  background-image: url(./images/khan-book.jpg);
}


.khan__buy-link {
  margin-top: 0;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
}

.link-hover:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;

}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  margin: 90px auto 20px;
  position: relative;
  z-index: 2;

}

.section-subtitle_theme_dark {
  color: white;
  margin: auto;
  position: relative;
  z-index: 3;

  }


.table {

  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1100px;


}


.table_theme_dark{
  margin: 60px auto 100px;
  position: relative;
  z-index: 4;
  }



.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  }

.digits__section-title {
  margin: 100px auto 20px;
  }

.digits__section-subtitle {
  margin: auto;
  }
  .digits__table {
    margin: 60px auto 100px;
  }

  .table__cell {
    width: 250px;
    margin-top: 60px;
  }

  .table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }

  .table__text {
    line-height: 1.2;
    font-size: 18px;
    margin-top: 20px;
  }

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
}

.resources__section-title {
  margin: 100px auto 20px;
  }

.resources__section-subtitle {
  margin: auto;
}

.resources__logo-zone {
  display: table;
  border: 1px solid;
  width: 1100px;
  margin: 80px auto 217px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;


}

.logo_place_footer {
background-image: url('./images/logo_place_footer.svg');
background-size: contain;
}

.footer__columns {
  margin: 60px auto 40px auto;
  width: 90%;
  justify-content: space-between;

}



.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px auto 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 0;
}

.footer__column-link {
  display: block;
color: white;
text-decoration: none;
margin-bottom: 10px;
list-style-type: none;
}

.footer__column-link:nth-of-type(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}


.footer__column-link:hover {
  text-decoration: underline;
}

.footer__column-heading:hover {
  text-decoration: underline;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
}

